<div class="row custom-row">
    <div class="col-md-4 friend-list">
        
        <h3 (click)="submitChat()" class="text-white my-3 ">
            Select friends to add!
        </h3>
        
        
        <div *ngFor="let user of this.currentUser.friends; let i=index;"
        class="list-group mb-2 chat-bubble">
            <a (click)="this.isClicked[i] = this.isClicked[i] === i ? -1 : i" 
            [ngClass]="{'custom-activated': this.isClicked[i]==i}" 
            class="btn chat-bubble" 
            #friends 
            name="{{ user.email }}"> 
                {{ user.name }}
            </a>
        </div>
        
        
    </div>

    <div class="col-md-8 chat-window">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <div class="form-group">
                                <label for="name">
                                    <h3 class="text-white">Chat Name</h3>
                                </label>
                                <input
                                        type="text"
                                        id="name"
                                        class="form-control"
                                        formControlName="name">
                            </div>

                </div>
                <button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="!myForm.valid">Create Chat</button>
            </form>
    </div>
</div>

<!-- 
<div class="custom-row row my-3">
    <div class="col-md-4 mx-auto">
        <h3>Create a new chat!</h3>
    </div>
</div>

<div class="custom-row row">
    <div class="col-md-4 mx-auto">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                    <div class="form-group">
                            <label for="name">Chat Name</label>
                            <input
                                    type="text"
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                        </div>
                <label for="users">Users</label>
                <input
                        type="text"
                        id="users"
                        class="form-control"
                        formControlName="users">
            </div>
            <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!myForm.valid">Create Chat</button>
        </form>
    </div>
</div>

 -->