
<div class="custom-row row my-3">
    <div class="col-md-4 mx-auto">
        <h3>Create a new chat!</h3>
    </div>
</div>

<div class="custom-row row">
    <div class="col-md-4 mx-auto">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                    <div class="form-group">
                            <label for="name">Chat Name</label>
                            <input
                                    type="text"
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                        </div>
                <label for="users">Users</label>
                <input
                        type="text"
                        id="users"
                        class="form-control"
                        formControlName="users">
            </div>
            <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!myForm.valid">Create Chat</button>
        </form>
    </div>
</div>

