<form class="form-inline" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-10" >
        <input  
                autocomplete="off"
                #msgInput
                type="text"
                placeholder="enter msg"
                id="message"
                class="form-control custom-input"
                formControlName="message">
    </div>
    <div class="col-md-2">
        <button
                class="btn btn-primary send-button"
                type="submit"
                [disabled]="!myForm.valid">Send <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
    </div>
            
</form>