/* You can add global styles to this file, and also import other style files */
.dark-blue {
    background-color: #385169;
}

.container-chat {
    height: calc(100vh - 56px);
}

html, body {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
height: 100%;
padding: 0;
margin: 0;
}

.row.custom-row {
    margin-left: 0px;
    margin-right: 0px;
}