.chat-bubble {
    padding: 10px;
    /* background-color: #4fc2e7; */
    background-color: #e4e4da;
    border-radius: 10px;
    /* animation: appear 400ms; */
    color: #363636;
    margin-left: 15px;
}

app-message {
    max-width: 75%;
    min-width: 10%;
    width: fit-content;
}

.message-margin {
    margin-top: 2px;
}

/* @keyframes appear {
    from {
        opacity: 0;
        transform: translate(0px, 30px);
    } to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
} */


