<!-- <div class="container">

        <h1 class="mt-5 text-center">Welcome to webmsngr!</h1>
        <h3 class="text-center">Create an account or login</h3>
        <div class="d-flex justify-content-center">
            <div class="w-25 p-2"><a routerLink="/login" class="btn btn-primary w-25 mt-3">Login</a></div>
            <div class="w-25 p-2"><a routerLink="/signup" class="btn btn-primary w-25 mt-3">Signup</a></div> 
        </div>
        

</div> -->
<div class="container">
    <div class="jumbotron mt-4">
            <h1 class="display-3">Welcome to webmsngr!</h1>
            <p class="lead">Create an account or login</p>
            <hr class="my-4">
            <p class="lead">
                <a routerLink="/login" class="btn btn-primary w-25 mt-3">Login</a>
                <a routerLink="/signup" class="btn btn-primary w-25 mt-3">Signup</a>
            </p>
    </div>
</div>
